@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@font-face {
    font-family: "GoodHood";
    src: url("/fonts/GoodHood.otf");
}

body {
    background-color: #263238;
    color: rgb(248, 229, 229);
    font-family: Roboto Slab;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    z-index: 10;
    background-color: black;

    li {
        margin: 2px 34px;
        display: inline-block;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: lighter;
        font-size: 14px;
    }


}

#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://thumbs.gfycat.com/CandidHappyBlackbuck-size_restricted.gif);
    background-size: cover;
    top: 0;
    position: fixed;
    z-index: -1;
}

.main {
    text-align: center;
    font-family: GoodHood;

    h1 {
        font-size: 150px;
        word-spacing: -40px;
    
    }

    h2 {
        color: white;
        font-size: 80px;

    }
}

footer {
    width: 100%;
    height: 300px;
    background: gray;
    bottom: -300px;
    position: fixed;
    z-index: -1;
}

.content {
    color: white;
    background-color: black;
    height: 1000px;
    min-height: 1000px;

    position: relative;
    z-index: 1;
}

.wrapper-parallax {
    margin-top: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header,
footer,
#scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}